@font-face {
	src: url("./BarlowCondensed-Regular.ttf") format("truetype");
	font-family: "Barlow Condensed";
}

@font-face {
	src: url("./BarlowCondensed-Bold.ttf") format("truetype");
	font-family: "Barlow Condensed Bold";
}

b {
	font-family: "Barlow Condensed Bold";
}

s::before, s::after {
	clip-path: inset(100%);
	height: 0px;
	position: absolute;
	width: 0px;
}

s::before {
	content: " [begin strikethrough] "
}

s::after {
	content: " [end strikethrough] "
}

a {
	color: darkcyan;
}
a:hover {
	color: cyan;
}

body {
	font-family: "Barlow Condensed";
	background-color: midnightblue;
	top: 0;
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 120%;
	color: #949494;
	margin-right: 10%;
	margin-left: 10%;
}

code {
	font-family: "Fira Code";
	font-size: 85%;
}

img {
	color: red;
	vertical-align: middle;
}

h1 {
	margin: 0;
	font-family: "Barlow Condensed Bold";
}

h2 {
	font-family: "Barlow Condensed Bold";
}

h3 {
	font-family: "Barlow Condensed Bold";
}

.back {
	font-size: 80%;
	font-style: italic;
}

.caution {
	color: #bb4;
}

.warning {
	color: #d84;
}

.danger {
	color: #d80000;
}


@keyframes flashwhite {
	50% {
		color: white
	}
}

.criticaldanger {
	color: red;
	animation: 2s step-start /* Ah, nice and retro-looking.*/ infinite flashwhite;
}

.subtitle {
	font-size: 125%
}

hr {
	content: "â‚"
}

figure.quote {
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}

figure.quote > blockquote {
	margin-bottom: 0.75ex;
}

figure.quote > figcaption {
	text-align: left;
	padding-left: 50%;
}

figure.quote > blockquote::before, figure.quote > blockquote::after {
	content: "\""
}
